# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcscmblueprint
*.xccheckout
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
Configurations/DevelopmentTeam.local.xcconfig

.*/
docs
handoff.md
